NET "pin_a" LOC = P51;
NET "pin_a" IOSTANDARD = LVTTL;
NET "pin_b" LOC = P41;
NET "pin_b" IOSTANDARD = LVTTL;
NET "pin_c" LOC = P35;
NET "pin_c" IOSTANDARD = LVTTL;
NET "carry" LOC = P30;
NET "carry" IOSTANDARD = LVTTL;
NET "carry" PULLDOWN;
NET "sum" LOC = P27;
NET "sum" IOSTANDARD = LVTTL;
NET "sum" PULLDOWN;
